.background{
    background-color: var(--color-4);
    padding: 8px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 36px;
    /*justify-content: right;*/
    /*grid-add-money-page-columns: auto;*/

    .background_4{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: 4px;
        cursor: pointer;
    }

    .background_3{
        cursor: pointer;
        font-size: 36px;
        color: var(--color-5);
    }

    .background_2{
        background-color: var(--color-5);
        padding: 8px;
        gap: 4px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        cursor: pointer;
        border-radius: 16px;

        .flag{
            border-radius: 16px;
            background-color: red;
            font-size: 40px;
            overflow: hidden;
            width: 20px;
            height: 20px;
            display: grid;
            justify-content: center;
            align-items: center;
            transform: rotate(5deg);
        }
    }
}