.background{
    display: grid;

    .div0 {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }

        .div1 {
            display: grid;
            grid-template-columns: auto  1fr auto;
            align-items: center;

            .div2 {
                background-color: var(--color-5);
                padding: 4px;
                border-radius: 8px;
            }
        }
    }
}