.background{
    height: 100%;
    width: 100%;

    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr auto;

    .background1{
        overflow-y: auto;
        overflow-x: hidden;
    }

    .background2{
        display: grid;
        justify-items: center;
    }
}