.background{
    display: grid;
    gap: 16px !important;

    .div0{
        display: grid;
        gap: 16px !important;

        .div1{
            .div2{
            }
        }
    }
}

.div3{
    font-size: 18px;
    font-weight: 700;
}

.div4{
    display: grid;

    .div5{
        padding: 4px;
        border-radius: 8px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        .div6{}

        .div7{
            display: grid;
            grid-template-columns: 1fr auto auto;
            gap: 4px !important;

            .div8{
                padding: 4px;
                border-radius: 50px;
                min-width: 18px;
                display: grid;
                align-items: center;
                justify-items: center;
            }
        }
    }

    .div5:nth-child(1){
        background-color: rgb(255, 204, 0, 0.8);
    }

    .div5:nth-child(2){
        background-color: rgb(255, 204, 0, 0.7);
    }

    .div5:nth-child(3){
        background-color: rgb(255, 204, 0, 0.6);
    }

    .div5:nth-child(4){
        background-color: rgb(255, 204, 0, 0.5);
    }

    .div5:nth-child(5){
        background-color: rgb(255, 204, 0, 0.4);
    }
}

.div11{
    background-color: rgb(28, 180, 128);
}

.div12{
    background-color: var(--color-5);
}