.background{
    display: grid;

    .div0{
        display: grid;
        align-items: center;
        justify-items: center;

        .img{
            width: 150px;
            height: 150px;
        }
    }

    .div1{
        cursor: pointer;

        .div2{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;

            .div3{
                padding: 4px;
                border-radius: 8px;
                display: grid;
                align-items: center;
                justify-items: center;

                .div4{
                    font-size: 20px;
                }
            }
        }
    }
}