.background{


    .div1{
        display: grid;

        .div1o{
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            .div2o{
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;

                .div3o{
                    padding: 4px;
                    border-radius: 8px;
                    display: grid;
                    align-items: center;
                    justify-items: center;

                    .div4o{
                        font-size: 20px;
                    }
                }
            }
        }

        .div5{
            display: grid;

            .div6{
                display: grid;
                grid-template-columns: auto 1fr;

                .div7{
                    color: #80ff80;
                }

                .div8{
                    color: #ff8080;
                }
            }
        }

        .div91{
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

    }

}