.background{
    display: grid;

    .div1{
        cursor: pointer;
        display: grid;
        grid-template-columns: auto  1fr auto;
        align-items: center;

        .div2{
            background-color: var(--color-5);
            padding: 4px;
            border-radius: 8px;
        }
    }
}