#background{
    --padding: 8px;
    display: grid;
    grid-auto-flow: column;
    gap: var(--padding);
    grid-auto-columns: 100%;
    width: calc(100% - var(--padding) * 2);
    overflow-y: hidden;
    overflow-x: hidden;
    padding: var(--padding);

    *{
        gap: var(--padding);
    }
}