.background {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    row-gap: 20px !important;

    .div1 {
        display: grid;
        justify-items: center;
        cursor: pointer;

        .div2 {
            width: 60px;
            height: 60px;
            border-radius: 15px;
        }

        .div3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            width: 100%;
            font-size: 14px;
        }
    }
}
