.background {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    row-gap: 20px !important;

    .div1 {
        display: grid;
        justify-items: center;
        cursor: pointer;

        &:active {
            opacity: 0.8;
        }

        .div11{
            background: linear-gradient(
                    -45deg,
                    #ff0080,
                    #7928ca,
                    #2afadf,
                    #00c6ff
            );
            background-size: 400% 400%;
            background-position: 50% 70%;

            width: 60px;
            height: 60px;
            border-radius: 15px;
            display: grid;
            justify-items: center;
            cursor: pointer;

            .div2 {
                width: 60px;
                height: 60px;
                border-radius: 15px;
            }
        }

        .div3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            width: 100%;
            font-size: 14px;
        }
    }
}