.background{
    display: grid;

    .div1{
        cursor: pointer;

        &:active {
            opacity: 0.8;
        }

        .div2{
            display: grid;

            .div3{

                font-weight: 900;
            }
        }
    }
}